<!DOCTYPE html>
<html lang="en">

<head>
    <title>Calling...</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.16/peer.min.js"></script>
</head>

<body>
    <div id="div-chat">
        <video id="localStream" width="300" controls></video>
        <br /><br />
        <video id="remoteStream" width="300" controls></video>
        <br /><br />
    </div>
</body>
<script>
    var peerID = "<%= id %>";
    function openStream() {
        const config = {
            audio: true,
            video: true
        };
        return navigator.mediaDevices.getUserMedia(config);
    }

    function playStream(idVideoTag, stream) {
        const video = document.getElementById(idVideoTag);
        video.srcObject = stream;
        video.play();
    }

    let peer = new Peer();
    openStream()
    .then(stream => {
        playStream('localStream', stream);
        const call = peer.call(peerID, stream);
        call.on('stream', remoteStream => playStream('remoteStream', remoteStream));
    });
</script>

</html>